/*typ selektor*/
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  header {
    background-color: #ffff99;
    padding: 20px;
  }
  
  nav img {
    height: 100px;
  }
  
  /*klassen selektor*/
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th,
  nav {
    font-weight: bold;
  }
  
  thead {
    background-color: #ffff66;
  }
  
  a {
    color: #333;
  }
  
  td img {
    max-width: 100px;
    height: auto;
  }
  
  /*id selektor*/
  #h1fav {
    text-align: center;
  }